<mat-toolbar>
  <button routerLink="" mat-fab color="warn">
    <mat-icon>home</mat-icon>
  </button>
  <mat-form-field appearance="fill">
    <mat-label>Search...</mat-label>
    <input type="" formControlName="search" matInput />
  </mat-form-field>
  <span class="example-spacer"></span>
  <button routerLink="/cart" mat-fab color="warn" >
    <mat-icon >shopping_cart</mat-icon>
  </button>
  <div class="count-product">{{totalItem}}</div>
</mat-toolbar>

<div class="cart">
  <mat-card>
    <ng-container *ngFor="let item of booklist">
      <img width="50%" [src]="item.cover_image" alt="Book Image" />
      <mat-card-header>
        <h2>
          {{ item.title }}
        </h2>
      </mat-card-header>
      <mat-card-content>
        <p>Author: {{ item.author }}</p>
        <p>Publication Year: {{ item.publication_year }}</p>
        <p>Genre: {{ item.price }}<strong>VNĐ</strong></p>
        <p>Description: {{ item.description }}</p>
        <p>Quantity: {{ item.quantity }}</p>
        <p>Product Code: {{ item.product_code }}</p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button [routerLink]="item.id" color="primary">View Detail</button>
        <button mat-raised-button color="accent" (click)=addToCart(item)>Add To Cart</button>
      </mat-card-actions>
    </ng-container>
  </mat-card>
</div>


