<ng-container *ngIf="true">
  <table
    mat-table
    [dataSource]="products"
    class="mat-elevation-z8"
  >
    <ng-container matColumnDef="id" >
        <th mat-header-cell *matHeaderCellDef>No.</th>
        <td mat-cell *matCellDef="let element">{{ element.id }}</td>
      </ng-container>

      <ng-container matColumnDef="cover_image">
        <th mat-header-cell *matHeaderCellDef>Product Image</th>
        <td mat-cell *matCellDef="let element">
          <img [src]=" element.cover_image " alt="Product Image" width="50%">
        </td>
      </ng-container>

      <ng-container matColumnDef="product_code">
        <th mat-header-cell *matHeaderCellDef>Product Code</th>
        <td mat-cell *matCellDef="let element">{{ element.product_code }}</td>
      </ng-container>

      <ng-container matColumnDef="total">
        <th mat-header-cell *matHeaderCellDef>Price</th>
        <td mat-cell *matCellDef="let element">{{ element.total }}</td>
      </ng-container>

      <ng-container matColumnDef="quantity">
        <th mat-header-cell *matHeaderCellDef>Quantity</th>
        <td mat-cell *matCellDef="let element">{{ element.quantity }}</td>
      </ng-container>

      <ng-container matColumnDef="extort">
        <th mat-header-cell *matHeaderCellDef>Total</th>
        <td mat-cell *matCellDef="let element">{{ element.extort }}</td>
      </ng-container>

      <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef>Action</th>
        <td mat-cell *matCellDef="let element">
          <button mat-fab color="warn" (click)="removeItem(element)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</ng-container>

<ng-container *ngIf="false">
  <mat-card class="empty-cart-card">
    <mat-card-title>Your Cart is Empty</mat-card-title>
    <mat-card-subtitle
      >Looks like you haven't added anything to your cart
      yet.</mat-card-subtitle
    >
    <button mat-raised-button color="primary" routerLink="/shop">
      Shop Now
    </button>
  </mat-card>
</ng-container>
